h2{
    text-align: center;
    padding: 20px;
    font-family: elephant,serif;
}
p{
    padding: 32px;
    border-radius: 20px;
    background-color: skyblue;
}
nav{
    background-color: #8bb9fe;
    margin-bottom: 20px;
}
form{
    width: 560px;
    border-radius: 20px;
    display: block;
    margin: auto;
    border: 5px solid skyblue;
    padding:20px;
    color: black;
    background-color: white;
}
table{
    padding:20px;
    margin: auto;
    width: 80%
}
body{
    background-color: #fdfdfd;
    color: #0c0c0c;
    padding: 15px;
}
.values{
    padding: 20px;
}
.carousel-inner{
    width: 20px;
    display: block;
    margin: auto;
}