<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    {% block title %}

    {% endblock %}
    <title></title>
    <link rel="stylesheet" href="../../static/assets/styles/boostrap/css/bootstrap.css">
    <link rel="stylesheet" href="../../static/assets/styles/main.css">

</head>
<body>

<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">SaccoManager</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="profile.html">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="member_details.html">Member Details</a>
        </li>
         <li class="nav-item">
          <a class="nav-link" href="member_list.html">Member List</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="member_list.html" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            More Links
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Business</a></li>
            <li><a class="dropdown-item" href="#">Farmers</a></li>
            <li><a class="dropdown-item" href="#">Teachers</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

{% block content %}

{% endblock %}

<footer>
<div class="card text-center top-100">

  <div class="card-body">
    <h5 class="card-title">Best Experience</h5>
    <p class="card-text font-size">SaccoManager</p>
  </div>
  <div class="card-footer text-body-secondary">
     &copy; All Rights Reserved
  </div>
</div>
    </footer>

<script src="../../static/assets/styles/boostrap/js/bootstrap.bundle.js"></script>

</body>\
</html>