{% extends 'base.html' %}

{% block content %}

    {% block title %}
<title>Member Details</title>
    {% endblock %}

<body>
<h2 class="text-center">Become One Of Our Members</h2>
<form>
      <div class="mb-3">
    <label for="InputName" class="form-label">Name</label>
    <input type="text" class="form-control" id="InputName" aria-describedby="emailHelp">
  </div>
      <div class="mb-3">
    <label for="InputMemberNumber" class="form-label">Member Number</label>
    <input type="number" class="form-control" id="InputMemberNumber" aria-describedby="emailHelp">
  </div>
        <div class="mb-3">
    <label for="InputPhone" class="form-label">Phone</label>
    <input type="number" class="form-control" id="InputPhone" aria-describedby="emailHelp">
  </div>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>

</body>
{% endblock %}