{% extends 'base.html' %}

{% block content %}

    {% block title %}
<title>Member List</title>
    {% endblock %}

<body>
<h2 class="text-center">Members List</h2>

<table class="table table-success table-striped-columns table-bordered border-primary">  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Member Number</th>
      <th scope="col">Phone</th>
      <th scope="col">Email</th>

    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Mark</td>
      <td>867</td>
      <td>0798654735</td>
      <td>@mdomark</td>
    </tr>
    <tr>
      <td>Jacob</td>
      <td>847</td>
      <td>0765465678</td>
      <td>@fatjacob</td>
    </tr>
    <tr>
      <td>John</td>
      <td>567</td>
      <td>0745653456</td>
      <td>@socialjohn</td>
    </tr>
  <tr>
      <td>Alex</td>
      <td>234</td>
      <td>0745653456</td>
      <td>@socialale</td>
    </tr>
  <tr>
      <td>Vicky</td>
      <td>576</td>
      <td>0745653456</td>
      <td>@socialvicky</td>
    </tr>
  <tr>
      <td>Mary</td>
      <td>678</td>
      <td>0745653456</td>
      <td>@socialmary</td>
    </tr>
  </tbody>
</table>
<button type="submit" class="btn btn-primary">BACK</button>
</body>
{% endblock %}