<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Member Details</title>
    <link rel="stylesheet" href="../../static/assets/styles/boostrap/css/bootstrap.css">
    <link rel="stylesheet" href="../../static/assets/styles/main.css">
</head>
<body>
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">SaccoManager</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="profile.html">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="member_details.html">Member List</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="member_list.html" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Member List
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Business</a></li>
            <li><a class="dropdown-item" href="#">Farmers</a></li>
            <li><a class="dropdown-item" href="#">Teachers</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
<h2 class="text-center">Become One Of Our Members</h2>
<form>
      <div class="mb-3">
    <label for="InputName" class="form-label">Name</label>
    <input type="text" class="form-control" id="InputName" aria-describedby="emailHelp">
  </div>
      <div class="mb-3">
    <label for="InputMemberNumber" class="form-label">Member Number</label>
    <input type="number" class="form-control" id="InputMemberNumber" aria-describedby="emailHelp">
  </div>
        <div class="mb-3">
    <label for="InputPhone" class="form-label">Phone</label>
    <input type="number" class="form-control" id="InputPhone" aria-describedby="emailHelp">
  </div>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>

</body>
<footer>
<div class="card text-center top-100">
  <div class="card-header">

  </div>
  <div class="card-body">
    <h5 class="card-title">SaccoManager</h5>
    <p class="card-text">&copy;Copyright All Rights Reserved</p>
{#    <a href="#" class="btn btn-primary">More Info</a>#}
  </div>
  <div class="card-footer text-body-secondary">
     Best Experience
  </div>
</div>
    </footer>

</html>